<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberTestNGSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.vtiger.Utils.RetryTransformer"/>
    </listeners>
    <test name="CucumberTests">
        <classes>
            <class name="com.vtiger.runner.TestRunner1"/>
        </classes>
    </test>

    <test name="CucumberTests1">
        <classes>
            <class name="com.vtiger.runner.TestRunner2"/>
        </classes>
    </test>
</suite>
